.user-profile-container {
	height: 400px;
	width: 280px;
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-style {
	border-radius: 8px 8px 0 0;
	height: 20%;
	width: 100%;
	background: lightgray;	
	border-bottom: 3px solid black;
}

.user-photo {
	position: absolute;
	margin-top: 20px;
	height: 90px;
	border-radius: 50%;
	z-index: 99;
}

.user-data-container {
	background: black;
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.user-name {
	width: 100%;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 600;
	color: white;
}

.user-course {
	width: 100%;
	color: lightgray;
	font-size: 14px;
}

.footer-style {
	height: 40%;
	width: 100%;
	background: black;
	border-radius: 0 0 8px 8px;
}